<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>445872427263-4op7piel306hfs765o8b8hf00ojk45v2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.445872427263-4op7piel306hfs765o8b8hf00ojk45v2</string>
	<key>API_KEY</key>
	<string>AIzaSyBx2SgwOuTLB_5GecKTqCfSXLrmfZS2pNk</string>
	<key>GCM_SENDER_ID</key>
	<string>445872427263</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shopify.RealtimeFunctionalTableData</string>
	<key>PROJECT_ID</key>
	<string>realtimefunctionaltabledata</string>
	<key>STORAGE_BUCKET</key>
	<string>realtimefunctionaltabledata.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:445872427263:ios:ea12baa09c25cf98</string>
	<key>DATABASE_URL</key>
	<string>https://realtimefunctionaltabledata.firebaseio.com</string>
</dict>
</plist>